body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-bg {

  background: linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
  url("https://res.cloudinary.com/crazyindog/image/upload/v1664351087/crazyindog/1663515875945_usrytk.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Register-bg {

  background: linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
  url("https://res.cloudinary.com/crazyindog/image/upload/v1664351087/crazyindog/1663515875945_usrytk.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.crazyindog-logo {
  max-width: 100px;
  padding-bottom: 50px;
}

.crazyindog-logo2 {
  max-width: 100px;
}


.picDog {
  width: 200px;
  height: 250px;

}

.picDog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.my-short-desc {
  overflow-y: visible;
  overflow-x: hidden;
  width: 100%;
  word-wrap: break-word;
  }
  
  .my-short-desc2 {
    overflow: hidden;
    width: 100%;
    height: 50px;
    word-wrap: break-word;
    }

  .my-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }

  .circle-div {
    background-color: #314963;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: fixed;
    bottom: 21px;
    right: 25px;
    }

  .circle-div {
    background-color: dodgerblue;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    }
    
    .circle-div a {
    text-decoration: none;
    color: white;
    } 